body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  padding: 5px;
  border: none;
  width: 100%;
}

button {
  cursor: pointer;
}

.rounded-button {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

main {
  margin: auto;
  padding-bottom: 30px;
}

.main-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.dark {
  background-color: #222222;
  color: #f5f5f5;
}

.dark p,
.dark a,
.dark h1,
.dark h2 {
  color: #f5f5f5;
}

.light {
  color: #1d1d1d;
  background-color: #eef8fc;
}

.light p,
.light a,
.light h1,
.light h2 {
  color: #1d1d1d;
}

.dark .rounded-button {
  background-color: slateblue;
  color: lightyellow;
}

.dark .rounded-button:hover {
  background-color: rgb(143, 128, 245);
}

.light .rounded-button {
  background-color: deepskyblue;
  color: midnightblue;
}

.light .rounded-button:hover {
  background-color: rgb(51, 209, 214);
  color: midnightblue;
}

.container {
  margin: 0 auto auto auto;
  text-align: center;
  position: relative;
}

.icon {
  max-width: 20px;
}

.back-button-container {
  margin-top: 10px;
  margin-left: 10px;
}

.rounded-button.text-button {
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
}


@keyframes shakeAndScale {

  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }

  33% {
    transform: rotate(-45deg) scale(1.3);
  }

  66% {
    transform: rotate(45deg) scale(1.3);
  }
}

@keyframes bumpScale {

  0%,
  100% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.5);
  }

  66% {
    transform: scale(1.5);
  }
}