body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

nav a {
  margin-right: 20px;
}

.rounded-button {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

a{
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card img {
  max-height: 200px;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #222222;
  color: white;
}
.dark p, .dark a, .dark h1, .dark h2{
  color: #f5f5f5;
}

.light {
  color: #1d1d1d;
  background-color: #eef8fc;
}

.light p, .light a, .light h1, .light h2 {
  color: #1d1d1d;
}


.light nav, .light footer {
  background-color: lightblue;
}

.dark nav, .dark footer{
  background-color: indigo;
}

.dark .rounded-button, .dark .add-to-fav-button {
  background-color: slateblue;
  color: lightyellow;
}

.light .rounded-button, .light .add-to-fav-button {
  background-color: deepskyblue;
  color: midnightblue;
}

.container {
  margin: auto;
  padding: 0 20px;
  text-align: center;
}

.button-container {
  display: flex;
  width: 100%;
}


.remove-from-fav-button {
  color: red;
}